
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.QuoteCard {
  padding: 1.25em;
  width: 400px;
  border: 1px solid #f8f8f8;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  font-size: 1.2em;
}

.QuoteCard img {
  max-width: 200px;
  height: 300px;
  margin-right: 1.5rem;
}

.button {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  background-color: rgb(14, 129, 129);
  color: white;
  margin-top: 20px;
}